@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Wait for you on meetup :)
    </p>
    <p>
        @Html.ActionLink("Back to list Events", "Index")
    </p>
</div>
